/*
Theme Name: Symbol
Theme URI: http://symbol.themeskult.com/
Github Theme URI: https://github.com/themeskult/symbol-theme
Author: Themes Kult
Author URI: http://themeskult.com/
Version: 1.4
Licence: http://creativecommons.org/licenses/by-nc-nd/3.0/deed.en_US
Description: Symbol is a tight, visually clean and well-structured theme that allows you to focus on reading.
*/

// You are free:
// to Share — to copy, distribute and transmit the work

// Under the following conditions:
// Attribution — You must attribute the work in the manner specified by the author or licensor (but not in any way that suggests that they endorse you or your use of the work).
// Noncommercial — You may not use this work for commercial purposes.
// No Derivative Works — You may not alter, transform, or build upon this work.


/* General */
a{ outline: none !important;}

/* Alignment */
.alignleft {
	display: inline;
	float: left;
	margin-right: 1.5em;
}
.alignright {
	display: inline;
	float: right;
	margin-left: 1.5em;
}
.aligncenter {
	clear: both;
	display: block;
	margin: 0 auto;
}




/* Snap.js
----------------------------------------------- */
.snap-content {
  position: absolute;
  background: #fff;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: auto;
  height: auto;
  z-index: 2;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  -webkit-transform: translate3d(0, 0, 0);
     -moz-transform: translate3d(0, 0, 0);
      -ms-transform: translate3d(0, 0, 0);
       -o-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

.snap-drawers {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: auto;
  height: auto;
}

.snap-drawer {
  position: absolute;
  top: 0;
  right: auto;
  bottom: 0;
  left: auto;
  width: 265px;
  height: auto;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  -webkit-transition: width 0.3s ease;
     -moz-transition: width 0.3s ease;
      -ms-transition: width 0.3s ease;
       -o-transition: width 0.3s ease;
          transition: width 0.3s ease;
}

.snap-drawer-left {
  left: 0;
  z-index: 1;
}

.snap-drawer-right {
  right: 0;
  z-index: 1;
}

.snapjs-left .snap-drawer-right,
.snapjs-right .snap-drawer-left {
  display: none;
}

.snapjs-expand-left .snap-drawer-left,
.snapjs-expand-right .snap-drawer-right {
  width: 100%;
}

/* =jQuery Pageslide
-------------------------------------------------------------- */
#myToggleButton
	background: #333 url(images/open.png) center center no-repeat;
	display: block;
	width: 44px;
	height: 44px;
	top: 20px;
	left: 20px;
	position: fixed;
	right: 20px;
	text-indent: -10000em;
	z-index: 10000;


/* =General
-------------------------------------------------------------- */
html 
	-webkit-font-smoothing: antialiased;  
body
	font-family: "Helvetica Neue", "Arial"; overflow-x: hidden; margin: 0; color: #4d4d4d;

h1,h2,h3,h4,h5
	font-weight: bold;
	color: black;
	a 
		color: black;
		text-decoration: none
a
	text-decoration: none; color: #000; outline: none !important;
	&:hover{color: #333;}

blockquote
	border-left: 8px solid #feb83e; padding-left: 20px; margin-left: 0;

img
	max-width: 100%;

#page 
	border-top: 4px solid #feb83e;

/* =Header
-------------------------------------------------------------- */
header.site-header
	background: #fff; position: fixed; top: 0px; z-index: 10000; left: 820px; width: 150px; 
	h1 
		margin: 0; padding: 0;
		a{background: #feb83e url('images/logo.png') center no-repeat; border: 1px solid rgba(0,0,0,.1); border-top: 0; background-size: auto  70%; height: 150px; text-indent: -10000em; display: block;}
	nav
		display: block; 
		width: 100%;  
		color: black; 
		font-family:  Menlo, Monaco, 'Lucida Console', monospace;
		background: #f9f9f9;
		ul 
			margin: 0;
			padding: 0;
		a
			border: 1px solid #ccc; 
			overflow: hidden; 
			border-top: 0; 
			display: block; 
			padding: 10px 10px; 
			line-height: 18px; 
			font-size: 11px; 
			color: #333;
			i, img{background: url('images/icon-page.png') center no-repeat; display: inline-block; opacity: .4; float: left; width: 18px; height: 18px;  margin: auto;}
			img{display: block;}

			&.current_page_item
				background: white; 
			&:hover
				background: #eee; 
				span 
					color: black;
				i,img{opacity: 1;}

body.admin-bar header.site-header, body
	border-top: 1px solid white;

#begin, .site-navigation.post-navigation
	border-bottom: 1px solid #ebebeb; padding: 32px 0;
	a{color: #999;}
	time{ color: #999; font-weight: bold; }


.site-main
	position: relative;


/* =Article
-------------------------------------------------------------- */
.site-navigation.post-navigation div div
	width: 50%; float: left;
	&.nav-next{text-align: right; float: right;}

.center-content, #disqus_thread
	max-width: 580px; margin: 0 100px 0 140px; padding: 0 20px; display: block; 

article.post, article.page
	border-bottom: 1px solid #ebebeb;
	padding: 50px 0;
	font-size: 18px;
	line-height: 30px;
	h1 
		font-size: 30px;
		line-height: 40px;
	p 
		a 
			color: black;
			text-decoration: underline
	p < code {width: 100%; display: none;}
	
	code,pre
		border: none;
		border: 1px solid #d2d2d2;
		background-color: #f8f8f8;
		padding: 0 4px;
		font-size: 13px;
		width: auto;
		display: inline-block;

	code
		border-radius: 4px;
	pre
		padding: 20px 30px;
		display: block;
		border-left: none;
		border-right: none;
		overflow-x: scroll;
	/* Images */


	blockquote
		p:last-child
			margin-bottom:0

	p iframe,p object{display:block;margin:0;padding:0;width:100%;float:none}
	img, iframe, object{display:block;margin:0;padding:0;max-width:100%;float:none}
	p iframe, p object{min-height:250px;min-width:0}
	img{height: auto; width: auto;}
	.embed-container{ position:relative;  padding-bottom:56.25%; /* 16/9 ratio */ padding-top:30px; /* IE6 workaround*/ height:0;  overflow:hidden; margin-bottom:30px}
	.embed-container iframe, 
	.embed-container object, 
	.embed-container embed{ position:absolute;  top:0;  left:0;  width:100%;  height:100%}


article.page 
	border-bottom: 0;

body.page-template-page-lastfm-php
	.last-fm-tracks
		margin: 0; padding: 0;
		list-style: none;
		li
			overflow: hidden
			margin-bottom: 30px;
			border-bottom: 1px solid #eee; padding-bottom: 30px;

			.track
				float: left;
				width: 60%;

			span.track-album
				width: 50px;
				display: inline-block;
				float: left;
				margin-right: 20px;
				img {width: 100%; background: #eee;}
				i.cover{padding: 40px 0; background: #eee; color: #999; display: block; text-align: center;}
			span.track-name
				font-size: 18px;
				margin-bottom: 4px;
				display: block;
				font-weight: bold;
			span.track-artist
				font-size: 14px; color: #999;
			span.space 
				display: none;
			span.track-date
				float: right;
				color: #999;
				font-size: 11px;

				i 
					font-weight: bold; color: green; font-size: 14px;

/* =Pagination
-------------------------------------------------------------- */
nav.paging-navigation, #nav-below
	overflow: hidden; display: block; padding: 30px 20px;
	a
		display: inline-block; 
		border: 1px solid #ebebeb;
		padding: 20px 20px; 
		font-weight: bold; text-transform: uppercase; font-size: 12px;
		margin-bottom: 20px;
		&:hover{border-color: #333;}
	.nav-continue{float: right;}
	.nav-left{float: left;}

	.nav-previous, .nav-next
		display: inline-block

	.nav-next
		float: right
		display: inline-block


/* =Sidebar
-------------------------------------------------------------- */
.widget-area 
	padding: 20px;
	padding-right: 30px;
	padding-top: 20px;
	color: #ccc;
	font-size: 12px;
	background: #222;
	h1.widget-title 
		color: white;
		font-size: 18px;
		margin-bottom: 10px;

	a 
		color: #a5afb3;
		font-weight: bold;
		&:hover 
			color: white;

	ul 
		padding: 0;
		padding-left: 18px;
		margin: 0;
		li 
			list-style:  square;
			margin-bottom: 10px;


	.widget_search
		label
			font-weight: bold;
			margin-bottom: 10px;
			display: none;
		.submit 
			display: none;
		#s 
			border: 0;
			width: 92%;
			padding: 4%;
			background-color: #666;
			color: #1a1d22;
			font-size: 14px;
			&:focus 
				outline: none;
				color: White;
				box-shadow: none;


/* =Comments
-------------------------------------------------------------- */

#disqus_thread{margin-top: 50px;}
.comments-area
	padding-top: 40px;
	h2{margin-top: 0;}
	ol.commentlist
		list-style:none; margin:0; padding: 0; max-width: 500px; 
		li.comment{border-bottom:1px solid #e7e7e7; line-height:24px;  margin:0 0 24px 0; padding:0 0 24px 60px; position:relative}
		li:last-child{border-bottom:none; margin-bottom:0}
		.avatar{position:absolute; border-radius: 100px; top:4px; left:0}
		.comment-author{font-weight: bold; font-size: 13px}
		.comment-author cite{color:#000; font-style:normal; font-weight:bold}
		.comment-author .says{font-style:italic}
		.comment-meta{font-size:12px; margin:0 0 18px 0}
		.comment-meta a:link, 
		.comment-meta a:visited{color:#888; text-decoration:none}
		.comment-meta a:active, 
		.comment-meta a:hover{color:#ff4b33}
	.reply{font-size:12px; padding:0 0 24px 0}
	.reply a, 
	a.comment-edit-link{color:#888}
	.reply a:hover, 
	a.comment-edit-link:hover{color:#ff4b33}
	.commentlist .children{list-style:none; margin:0}
	.commentlist .children li{border:none; margin:0}
	.nopassword, .nocomments{display:none}
	#comments .pingback{border-bottom:1px solid #e7e7e7; margin-bottom:18px; padding-bottom:18px}
	.commentlist li.comment+li.pingback{margin-top:-6px}
	#comments .pingback p{color:#888; display:block; font-size:12px; line-height:18px; margin:0}
	#comments .pingback .url{font-size:13px; font-style:italic}

	input[type=submit]{color:#333}
	#respond{position:relative; }
	#respond p{margin:0}
	#respond .comment-notes{margin-bottom:1em}
	.form-allowed-tags{line-height:1em}
	.children #respond{margin:0 48px 0 0}
	h3#reply-title{margin:18px 0}
	#comments-list #respond{margin:0 0 18px 0}
	#comments-list ul #respond{margin:0}
	#cancel-comment-reply-link{font-size:12px; font-weight:normal; line-height:18px}
	article a.comment-reply-link{font-size: 13px; text-decoration: none; font-weight: bold;}
	#respond .required{color:#ff4b33; font-weight:bold}
	#respond .comment-form-author label, #respond .comment-form-email label, #respond .comment-form-url label, #respond .comment-form-comment label{color:#888;  font-size:12px; width: 70px; display: inline-block;  }
	#respond .comment-form-comment label {padding: 0; text-align: left; }
	#respond input[type="text"]{margin-bottom:14px; padding:4px; margin-right:10px; border:0; border-bottom:1px solid #ccc}
	#respond input[type="text"]:focus{outline:0; border-color:#333}

	.comment-form-comment label{display: block;}
	#respond textarea{border-color:#ccc}
	#respond textarea:focus{outline:0}
	.logged-in-as{font-size: 11px}

	ol.commentlist li.comment.byuser{margin-top: 30px}
	ol.commentlist li.comment.byuser #respond .form-submit{margin-left: 0}
	#respond #submit{margin:0 0 9px; background:black; border-radius:5px; padding:10px 20px; font-weight:bold; width:auto; border:0; color:white; margin-bottom:50px}
	#respond textarea{width: 96%; margin-bottom:10px; padding: 2%}
	#respond .form-allowed-tags{color:#888; font-size:12px; line-height:18px}
	#respond .form-allowed-tags code{font-size:11px}
	#respond .form-submit{margin:12px 0 0 0}
	#respond .form-submit input{font-size:14px; width:auto}
	.form-allowed-tags, .comment-notes{display: none;}


@media screen and (max-width: 970px)
	header.site-header
		position: static;
		width: auto;
		nav 
			ul 
				text-align: center;
				li 
					display: inline-block
					a 
						border: 0;

	.center-content, #disqus_thread
		margin-left: auto;
		margin-right: auto;







